@model SiteCCZ.Models.Animaisachados

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animaisachados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AchadorNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AchadorNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AchadorTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AchadorTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAnimalAchado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
