@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SiteCCZ.Models.Animaisachados>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Descricao do Animal
            </th>
            <th>
                Espécie
            </th>
            <th>
                Raça
            </th>
            <th>
                Nome de quem encontrou
            </th>
            <th>
                Telefone de quem encontrou
            </th>
            <th>
                Bairro
            </th>
            <th>
                Detalhes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoFoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchadorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchadorTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalhes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnimalAchado">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnimalAchado">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnimalAchado">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))