@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SiteCCZ.Models.Postsblog>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de posts</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data da Publicação
            </th>
            <th>
               Título
            </th>
            <th>
                Autor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPostBlog">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPostBlog">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPostBlog">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))