@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SiteCCZ.Models.Animaisperdidos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Espécie
            </th>
            <th>
                Raça
            </th>
            <th>
                Foto
            </th>
            <th>
                Telefone do Dono
            </th>
            <th>
                Detalhes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneDono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalhes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnimalPerdido">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnimalPerdido">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnimalPerdido">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))