@model SiteCCZ.Models.Animaisccz

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do animal</h1>

<div>
    <h4>Animaisccz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@ViewData["filelocation"]?ver=1.3" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdadeAprox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdadeAprox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Historia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Historia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adotavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adotavel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAnimal">Edit</a> |
    <a asp-action="Index">Voltar para lista de animais</a>
</div>
