@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SiteCCZ.Models.Animaisccz>

@{
    ViewData["Title"] = "Index";
}

<h1>Animais do CCZ</h1>

<p>
    <a asp-action="Create">Cadastrar novo animal</a>
</p>

<form class="form" asp-controller="Animaisccz" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <a asp-action="Create"></a>
            <input name="Pesquisa" type="text" class="form-control" placeholder="Nome do animal">
            <div>
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Espécie
            </th>
            <th>
                Nome
            </th>
            <th>
               Status do Animal
            </th>
            <th>
                Adotável?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adotavel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnimal"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
</svg></a> |
                <a asp-action="Details" asp-route-id="@item.IdAnimal"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
</svg></a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnimal"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a> |
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { filtro = ViewData["Filtro"], pagina }), 
new X.PagedList.Web.Common.PagedListRenderOptionsBase
{
    DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
    DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
    DisplayLinkToNextPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = X.PagedList.Web.Common.PagedListDisplayMode.Always
})