@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SiteCCZ.Models.Postsblog>

@{
    Layout = null;
    ViewData["Title"] = "Blog";
}

 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
 	<title>Blog CCZ</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="/../assets/img/logo-png.png">

 	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;700&display=swap" rel="stylesheet"> 
 	<link rel="stylesheet" href="/../assets/miniblog/fonts/icomoon/style.css">
 	<link rel="stylesheet" href="/../assets/miniblog/css/bootstrap.min.css">
 	<link rel="stylesheet" href="/../assets/miniblog/css/magnific-popup.css">
 	<link rel="stylesheet" href="/../assets/miniblog/css/jquery-ui.css">
 	<link rel="stylesheet" href="/../assets/miniblog/css/owl.carousel.min.css">
 	<link rel="stylesheet" href="/../assets/miniblog/css/owl.theme.default.min.css">
 	<link rel="stylesheet" href="/../assets/miniblog/css/bootstrap-datepicker.css">
 	<link rel="stylesheet" href="/../assets/miniblog/fonts/flaticon/font/flaticon.css">
 	<link rel="stylesheet" href="/../assets/miniblog/css/aos.css">
 	<link rel="stylesheet" href="/../assets/miniblog/css/styleblog.css" />
 	<link rel="stylesheet" href="/../assets/css/main.css" />
 </head>
 <body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
 		<a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="/../assets/img/logo-png.png" alt="Logo CCZ"></a>
 		<button class="navbar-toggler" type="button" data-toggle="collapse"data-target="#navbarResponsive"> 
 			<span class="navbar-toggler-icon"></span>
 		</button>

 		<div class="collapse navbar-collapse" id="navbarResponsive"> 
 			<ul class="navbar-nav ml-auto">
 				<li class="nav-item">
                    <a class="nav-link" asp-action="Blog" asp-controller="Home">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="CadeMeuPet" asp-controller="Home">CADÊ MEU PET?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Adocao" asp-controller="Home">ADOÇÃO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Denuncias" asp-controller="Home">DENÚNCIAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="QuemSomos" asp-controller="Home">QUEM SOMOS</a>
                </li>
 			</ul>
 		</div>
 	</nav>

 	<br/>

 	<div class="site-section">
 		<div class="container">
 			<div class="row mb-5">
 				<div class="col-12">
 					<h2>Publicações recentes</h2>
 				</div>
 			</div>
 			<div class="row">
				@foreach (var item in Model)
				{
 				<div class="col-lg-4 mb-4">
 					<div class="entry2">
 						<a asp-action="Post" asp-controller="Pages" asp-route-id="@item.IdPostBlog"><img src="@(@System.IO.File.Exists(ViewData["Caminho"] + item.Foto) ? Url.Content(item.Foto) : Url.Content("~/img/sem_foto.png"))" alt="@item.DescricaoImagem" class="img-fluid rounded"></a>
 						<div class="excerpt">
 							<h2 class="post-title"><a asp-action="Post" asp-controller="Pages" asp-route-id="@item.IdPostBlog">@item.Titulo</a></h2>
 							<div class="post-meta align-items-center text-left clearfix">
 								<span class="d-inline-block mt-1">@item.Autor</span>
 								<span>&nbsp;-&nbsp; @item.DataPublicacao</span>
 							</div>
 							<p>@item.OlhoPost</p>
 							<p><a asp-action="Post" asp-controller="Pages" asp-route-id="@item.IdPostBlog">Ler mais</a></p>
 						</div>
 					</div>
 				</div>
				}
 				
 		</div>
 	</div>

 	</div>

	<div class="container-fluid">
        <div class="row justify-content-center">
            @Html.PagedListPager(Model, pagina => Url.Action("Adocao", new { pagina }))
        </div>
    </div>  

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-about wow fadeInUp">
                        <img src="/../assets/img/logo-png.png" style="width: 200px">
                        <p>Centro de Controle de Zoonozes de Barra Bonita</p>
                    </div>
                    <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
                        <h3>Contato</h3>
                        <p><i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>
                        <p><i class="fas fa-phone"></i> Telefone: (14)3641-XXXX</p>
                        <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a>
                        </p>
                    </div>
                    <div class="col-md-4 footer-links wow fadeInUp">
                        <div class="row">
                            <div class="col">
                                <h3>Links</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><a class="scroll-link" asp-action="Index" asp-controller="Home">Home</a></p>
                                <p><a asp-action="Blog" asp-controller="Home">Blog do CCZ</a></p>
                                <p><a asp-action="CadeMeuPet" asp-controller="Home">Cadê meu Pet?</a></p>
                                <p><a asp-action="Adocao" asp-controller="Home">Adoção</a></p>
                                <p><a asp-action="Denuncias" asp-controller="Home">Denúncias</a></p>
                                <p><a asp-action="QuemSomos" asp-controller="Home">Quem somos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
 					<div class="row">
 						<div class="col-12 text-center" style="background-color: #c1bb95">
 							<p>
 								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
 								Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
 								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
 							</p>
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</footer>

 </div>

</div>
</div>

</div>

<script src="/../assets/js/jquery-3.3.1.min.js"></script>
<script src="/../assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/../assets/js/jquery-ui.js"></script>
<script src="/../assets/js/popper.min.js"></script>
<script src="/../assets/js/bootstrap.min.js"></script>
<script src="/../assets/js/owl.carousel.min.js"></script>
<script src="/../assets/js/jquery.stellar.min.js"></script>
<script src="/../assets/js/jquery.countdown.min.js"></script>
<script src="/../assets/js/jquery.magnific-popup.min.js"></script>
<script src="/../assets/js/bootstrap-datepicker.min.js"></script>
<script src="/../assets/js/aos.js"></script>

<script src="/../assets/js/main.js"></script>

<div vw class="enabled">
	<div vw-access-button class="active"></div>
	<div vw-plugin-wrapper>
		<div class="vw-plugin-top-wrapper"></div>
	</div>
</div>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
	new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

</body>
</html>