@model SiteCCZ.ViewModel.AdocaoViewModel

@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Html.DisplayFor(model => model.Animal.Nome) | Site CCZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/../assets/img/logo-png.png">

    <link rel="stylesheet" type="text/css" media="screen" href="/../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/../assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <link rel="stylesheet" href="/../assets/css/main.css" />
    <link rel="stylesheet" href="/../assets/css/adocao.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="/../assets/img/logo-png.png" alt="Logo CCZ"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Blog" asp-controller="Home">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="CadeMeuPet" asp-controller="Home">CADÊ MEU PET?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Adocao" asp-controller="Home">ADOÇÃO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Denuncias" asp-controller="Home">DENÚNCIAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="QuemSomos" asp-controller="Home">QUEM SOMOS</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- DADOS GERAIS E SAÚDE -->
    <section class="adocao-detalhes" style="background-color: #ece4b7;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-sm-12">
                    <h1 style="color: black; margin-top:60px">@Html.DisplayFor(model => model.Animal.Nome)</h1>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-sm-12">
                    <img class="img-fluid foto-adocao" src="@(System.IO.File.Exists(ViewData["CaminhoFoto"] + Model.Animal.Foto) ? Url.Content(Model.Animal.Foto) : Url.Content("~/img/sem_foto.png"))" style="width: 400px;" />
                </div>
                <div class="col-lg-4 col-sm-12">
                    <dl>
                        <dt style="text-align: left; color: black;">DADOS GERAIS</dt>
                        <dd style="text-align: left; color: black;">@Html.DisplayFor(model => model.Animal.Especie)</dd>
                        <dd style="text-align: left; color: black;">Sexo: @Html.DisplayFor(model => model.Animal.Sexo)</dd>
                        <dd style="text-align: left; color: black;">Porte: @Html.DisplayFor(model => model.Animal.Porte)</dd>

                        <hr>

                        <dt style="text-align: left; color:black;">Estado Clínico</dt>
                        <dd style="text-align: left; color: black;">Castrado: @Html.DisplayFor(model => model.Animal.StatusAnimal)</dd>
                        <dd style="text-align: left; color: black;">Vacinado</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>

    <!-- HISTÓRIA E DESCRIÇÃO -->
    <section class="historia">
        <div class="container">

            <div class="row mb-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <h3 style="color:black; text-align: left;">História
                    </h3>
                    <p style="text-align: justify;">@Html.DisplayFor(model => model.Animal.Historia)</p>
                    <h3 style="color: black; text-align: left;">Deseja adotar?
                    </h3>
                    <p style="text-align: left;">Lembre-se:</p>
                    <ul>
                        <li style="text-align: left;">Animais têm sentimentos. Eles precisam de
                            carinho e
                            atenção todos os dias.</li>
                        <li style="text-align: left;">Todos os moradores da casa devem estar de acordo
                            com
                            a adoção.</li>
                        <li style="text-align: left;">Você terá despesas com ração, vacinas e
                            veterinário.
                        </li>
                        <li style="text-align: left;">Cães e gatos vivem 15 anos ou mais e você será
                            responsável por cuidar dele durante todo esse tempo.</li>
                    </ul>
                    <p style="text-align: left;"><b>Para entrar em contato conosco para realizar a
                            adoção
                            preencha o formulário abaixo.</b></p>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>

    <!-- FORMULÁRIO -->
    <div class="row mb-5 form-adocao">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form asp-action="AdocaoDetalhes">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label hidden asp-for="IdAnimal" class="control-label"></label>
                    <input asp-for="IdAnimal" asp-route-id="@Model.IdAnimal" class="form-control" hidden/>
                    <span asp-validation-for="IdAnimal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome</label>
                    <input asp-for="Nome" type="text" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Endereço de email</label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label">Seu telefone</label>
                    <input asp-for="Telefone" type="text" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Justificativa" class="control-label">Por que deseja adotar este animal?</label>
                    <textarea asp-for="Justificativa" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Justificativa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-about wow fadeInUp">
                        <img src="/../assets/img/logo-png.png" style="width: 200px">
                        <p>Centro de Controle de Zoonozes de Barra Bonita</p>
                    </div>
                    <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
                        <h3>Contato</h3>
                        <p><i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>
                        <p><i class="fas fa-phone"></i> Telefone: (14)3641-XXXX</p>
                        <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a>
                        </p>
                    </div>
                    <div class="col-md-4 footer-links wow fadeInUp">
                        <div class="row">
                            <div class="col">
                                <h3>Links</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><a class="scroll-link" asp-action="Index" asp-controller="Home">Home</a></p>
                                <p><a asp-action="Blog" asp-controller="Home">Blog do CCZ</a></p>
                                <p><a asp-action="CadeMeuPet" asp-controller="Home">Cadê meu Pet?</a></p>
                                <p><a asp-action="Adocao" asp-controller="Home">Adoção</a></p>
                                <p><a asp-action="Denuncias" asp-controller="Home">Denúncias</a></p>
                                <p><a asp-action="QuemSomos" asp-controller="Home">Quem somos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>

</html>